[Unit]
Description=Hello Yocto Service
After=default.target

[Service]
ExecStart=/usr/bin/hello.sh
Restart=always

[Install]
WantedBy=multi-user.target

